schedule~=1.1.0
requests~=2.27.1
opencv-python~=4.5.5.64
imutils~=0.5.4
numpy~=1.22.3
scipy~=1.8.0
pymongo~=4.0.2
Flask~=2.0.3
colorama~=0.4.4
Pillow~=9.0.1
pip~=21.1.2
wheel~=0.36.2
rsa~=4.8
pyasn1~=0.4.8
six~=1.16.0
gast~=0.5.3
h5py~=3.6.0
click~=8.0.4
Jinja2~=3.0.3
MarkupSafe~=2.1.0
Werkzeug~=2.0.3
itsdangerous~=2.1.1
keras~=2.8.0
tensorflow~=2.8.0
wrapt~=1.14.0
setuptools~=57.0.0
cachetools~=5.0.0
certifi~=2021.10.8
urllib3~=1.26.8
Markdown~=3.3.6
oauthlib~=3.2.0
idna~=3.3
tensorboard~=2.8.0
flatbuffers~=2.0
astunparse~=1.6.3
termcolor~=1.1.0
zipp~=3.7.0